version: '3'
services:
  nginx:
    image: nginx
    container_name: lnmp-nginx
    depends_on:
      - php
    ports: 
      - "80:80"
    networks:
      - "lnmp"
    volumes:
      - "./conf.d:/etc/nginx/conf.d"
      - "$PWD/../data:/data"
  redis:
    container_name: lnmp-redis
    image: redis:3.2
    # ports: 
      # - "6379:6379"
    networks:
      - "lnmp"
  php:
    image: dongdavid/php-fpm:7.2
    # build: .
    container_name: lnmp-php
    depends_on:
      - redis
    ports: 
      - "9000:9000"
    networks:
      - "lnmp"
    volumes:
      - "$PWD/../data:/app"

networks:
  lnmp:
    driver: bridge